*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background: bisque;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board{
    display: flex;
    flex-direction: column;
    background: turquoise;
    border-radius: 20px;
}
.row{
    display: flex;
    flex-direction: row;
}
.circle{
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    margin:10px;
    transition: all 0.5s linear;
}
#turn{
    color:tomato;
    font-size: 50px;
    margin: 20px;
    font-weight: 700px;
}
#win{
    margin:20px;
    font-size: 40px;
    color: skyblue;
    font-weight: 700px;
}